body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.header-title {
    float: right;
}

.jumbotron {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: wheat;
    
}

.jumbotron-timer {
    display: flex;
    justify-content: center;
}

.jumbotron-timer div {
    margin: 0 10px;
}

.info {
    display: flex;
    justify-content: space-evenly;
    padding: 150px 0;
    background-color: #444444;
    color: #c3c3c3;
}

.info-box {
    width: 400px;
    text-align: center;
    border: 1px solid orange;
    padding: 10px;
}

.info-box h2 {
    color: orange;
}

.highlights {
    background-color: beige;
    padding: 150px 250px;
}

.highlights-header {
    text-align: center;
    font-size: 40px;
}

.highlights-text {
    text-align: center;
    font-size: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.highlights-box {
    display: flex;
}

.highlights-box-percent {
    flex-basis: 30%;
    font-size: 100px;
    color: orange;
    display: flex;
  align-items: center;
  justify-content: center;
}

.highlights-box-text {
    font-size: 20px;
    flex-basis: 70%;
}

.pricing {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 150px 250px;
    background-color: #444444;
    color: #c3c3c3;
}

.pricing-box {
    border: 1px solid orange;
    flex-basis: 25%;
    padding: 30px;
}

.pricing-box-number {
    color: orange;
    font-size: 40px;
}

.pricing-box-header {
    font-size: 50px;
    padding: 30px 0;
}

.location {
    margin-bottom: -10px;
}

.footer {
    background-color: #444444;
    color: orange;
    font-size: 40px;
    padding: 75px 0;
    text-align: center;
}